#cabecera{
    background: skyblue;
}
.destacado{
    font-size: 30px;
}
.parrafo{
    font-size: 20px;
    color: thistle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.div{
    display: block;
}
.parr{
    background: wheat;
    display: block;
    top: 20px;
    left: 20px;
}  

}
.par{
    background: yellow;
    float: right;
    top: 20px;
    left: 20px;
}  

.div{
    background: burlywood;
    margin: 10px 10px 10px 10px;
}

.foto1{
    float: left;
    padding: 20px 30px;
    margin: 10px 10px 10px 10px;
}
.foto2{
    float: right;
    padding: 20px 30px;
    margin: 10px 10px 10px 10px;
}
.dav{
    background: tomato;
    float: left;
    padding: 5px 5px;
    margin: 10px 10px 10px 10px;
}